name: Dependencies Example

on:
  push:
    branches:
      -  main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: set up npm
        uses: actions/setup-node@v4  
        with:
          node-version: '20.x'
      - name: verification
      - run: ls -alhR
